<!DOCTYPE html>
<html>
<head>
  <title>Blog Michala</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<img src="assets/rails.png"  width="170" height="135">

<%= yield %>

</body>
</html>
